* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    padding: 10px;
    width: 100%;
    box-shadow: 0px -20px 50px black;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
}

h1 {
    color: rgb(142, 142, 246);
    margin: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.red {
    color: rgb(246, 104, 104);
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    gap: 32px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(142, 142, 246);
}

.navigation {
    text-decoration: none;
    color: rgb(142, 142, 246);
    list-style: none;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation:hover {
    color: rgb(246, 104, 104);
}

main {
    height: 100%;
    margin-top: 50px;
}

.sessao1 {
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-sessao1 {
    width: 100%;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
}

.classbtn {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    margin-top: 15px;
}

#btn {
    padding: 20px;
    border-radius: 50px;
    border: transparent;
    box-shadow: 10px 10px 40px rgb(143, 143, 249);
    color: white;
    background-color: rgb(142, 142, 246);
    cursor: pointer;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn:hover {
    background-color: white;
    color: rgb(142, 142, 246);
    transition: 1s;
}

.text-red {
    color: rgb(246, 104, 104);
    font-size: 40px;
}

.text-blue {
    color: rgb(142, 142, 246);
    font-size: 13px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
